*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-size: 0;
}

.main_block{

  max-width: 1200px;
  margin: 20px auto 0 ;
  padding: 0 15px;


}

.tab{
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
  width: 161px;
  text-align: center;
  padding: 10px 0 ;
  margin: 0;
  border-radius: 5px 5px 0 0;
  background-color: #fff;

}

.tab.tab_1{

  border: 1px solid #C6CBCD;
  border-bottom: 1px solid white;
  margin-bottom: -2px;

}


.container{

max-width: 1170px;
height: 501px;
margin: 0px auto 0 ;
border: 1px solid #C6CBCD;

}

.block_info{

  max-width: 570px;
  display: inline-block;
  
  vertical-align: top;
  margin: 50px 38px 0 100px;
  
  
}

.header_text{

font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
padding: 0 0 33px 0;

}

p{
  font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
align-items: center;
 }

 .long_text{

  padding: 0 0px 20px 0;

 }

 .short_text{
padding-bottom: 48px;

 }

 .btn_down{
   color: white;
   background-color: #EC7979;
   display: inline-block;
   font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;

text-decoration: none;
padding: 20px 100px;
display: inline-block;


 }



.main_img{

 /* float: right;  */

}

.head-section_text{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  margin: 50px 0;
  color: #000000;
  
  }
  
  
  .head-section_line{
  border: 1px solid #EC7979;
  max-width: 170px;
  margin: 0 auto;
  
  }
  
  
  .head_paragr{
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  margin: 40px 0 110px 0;
  color: #86878B;
  }
  
  
  .wrap_block{
  max-width: 370px;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 58px;
  }
  
  .wrap-block_img{
  
    max-width: 92px;
    max-height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: 0 auto;
   
  
  }
  
  .lamp{
    padding: 10px 9px;
  }
  
  .wrap_block.title{
  margin: 0;
  }
  
  
  .keyboard{
  padding: 22px 13px;
  }
  
  .light{
  padding: 15px 25px;
  
  }
  
  
  .head-text_block{
  padding: 60px 0 50px 0;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  
  }
  
  
  .block-for_text{
  text-align: center;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0px;
  }

  /* .new_block{

    max-width: 1200px;
    margin: 58px auto 104px ;
    padding: 0 15px;
    
  } */

.price_block{

background: #F5F5F5;
margin: 0 auto ;
padding-bottom: 50px; 

   }


.new_text_proj{
  font-family: 'Raleway';
font-weight: 400;
font-size: 36px;
line-height: 42px;
align-items: center;
text-align: center;
text-transform: uppercase;
padding: 104px 0 54px 0;
}

.head-section_line.prise{
margin-bottom: 40px;
}

.head_paragr.prise{
  margin-bottom: 59px;
}

.ipsum{
display: flex;
justify-content: space-around;
align-items: center;
}



.prise_basic{
text-align: center;
Font-family: 'Raleway';
font-weight: 400;
font-size: 18px;
line-height: 21px;
margin-left: 98px;



}

.name_price{
background: #333333;
color: white;
padding: 14px 153px;
font-family: 'Open Sans';
font-weight: 700;
font-size: 24px;
line-height: 33px;
margin:0px 0px 1px 0;

}

.name_price.one{
/* margin-top: 79px; */
}

.dollar{

font-family: 'Raleway';
font-weight: 700;
font-size: 36px;
line-height: 42px;
background: #333333;
color: white;
padding: 29px 153px;
margin-bottom: 1px;
}

.free_life_text{
font-family: 'Raleway';
font-weight: 400;
font-size: 18px;
line-height: 21px;
padding: 15px 137px;
color: rgba(255, 255, 255, 0.5);
background: #333333;
margin-bottom: 2px;
}

.Space_block{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #86878B;
padding: 15px 125px;
margin-bottom: 1px ;
background-color: #fff;
}

.block_basic,.block_pro{
  margin-top: 79px;
}

.prise_optima{

text-align: center;
Font-family: 'Raleway';
font-weight: 400;
font-size: 18px;
line-height: 21px;


}

.prise_pro{
text-align: center;
Font-family: 'Raleway';
font-weight: 400;
font-size: 18px;
line-height: 21px;
margin-right: 98px;


}
